<nav class="navigation-bar">
<h1> Task Navigator
</h1>
<div class="Profile-Logo">
    <img src="assets/Images/Profile-Logo.jpg" alt="Profile Logo">
    <p>Sam Dsouza</p>
</div>
<div class="Employee-Name">

</div>
<ul>
    <li>
        <a href="#">All Task</a>
    </li>
    <li>
        <a href="#">Today Task</a>
    </li>
    <li>
        <a href="#">Task Assigned</a>
    </li>
    <li>
        <a href="#">Profile</a>
    </li>
    <li>
        <a href="#">Login</a>
    </li>
</ul>
<div class="Search">
    <input type="text" placeholder="Search">
    <!-- <button>Search</button> -->
</div>
</nav>